
body{
	display: flex;
	margin: 0px;
	flex-direction: column;
}

.nav-menu ul{
	list-style-type: none;
	background-color: rgb(221, 221, 221);
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 20px;
	margin: 0px;
}

#accroche{
	display: flex;
	margin: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	
}

#accroche p{
	align-self: flex-start;
	flex: 1;
}

#accroche img {
	max-width: 100%;
	height: auto;

}