/* Importation des fonts */

@font-face {
    font-family: "Montserrat-bold";
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-regular";
  src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url(/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf);
}


body{
	display: flex;
	margin: 0px;
	flex-direction: column;
	font-family: 'Segoe UI',Tahoma,Verdana,sans-serif;
	color: white;
	background: #242424;
	margin-left: 14vw;
	margin-right: 14vw;
}


.nav-menu {
	width: 70vw;
	display: flex;
	padding: 0px;
	margin: 0px;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
}


a:hover{
	color: rgb(90, 92, 92);
}

#nav-menu-title{
	display: flex;
	color: #c9c9c9;
}

#nav-menu-sections{
	display: flex;
	justify-content: space-evenly;
	width: 25vw;
}

a{
	color: white;
	text-decoration: none;
}


section {
	display: flex;
}

#accroche{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.3125rem;
	text-align: center;
}


#about-me {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#about-me img{
	border-radius: 10%;
}

#about-me-title{
	display: flex;
	align-self: flex-start;
	font-size: 2.625rem;
	justify-content: flex-start;
	color: #c9c9c9;

}

#about-me-content{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10%;
	font-size: 1.8rem;
}


#projects{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

#projects-title{
	display: flex;
	font-size: 2.625rem;
	color: #c9c9c9;
}

#footer-title{
	font-size:2.625rem;
	color: #c9c9c9;

}

.container-list-projects {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap;
}



.container-link-projects{
	display: flex;
	width: 20vw;
	height: 60vh;
	background-color: #4e4e4e;
	margin-right:2%;
	margin-bottom: 2%;
	border-radius: 10px;
	justify-content: flex-start;
	flex-wrap: wrap;
}



.container-link-projects img {
	align-self: flex-start;
	width: 100%;
	height: auto;
}


.contaiter-img-projects{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 10vw;
}


.container-list-footer{
	display: flex;
	justify-content: flex-start;
	width: 60%;
	height: 4vh;

}


.container-link-footer{
	display: flex;
	width: 20%;
	height: 100%;
	background-color: #242424;
	margin-right:2%;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(59, 59, 59);
}


.container-link-footer:hover{
	background-color:rgb(66, 66, 66);
}





